第二百六十六节，Tornado框架-XSS处理，页码计算，页码显示


			<div id="cnblogs_post_body" class="blogpost-body"><p><span style="color: #000000; background-color: #ffffff"><strong>Tornado框架-XSS处理，页码计算，页码显示</strong></span></p>
<p>&nbsp;</p>
<p><span style="color: #ff0000; background-color: #ffff00"><strong>Tornado框架-XSS攻击过滤</strong></span></p>
<p><span style="color: #ff0000"><strong>注意：<strong>Tornado框架的模板语言，读取数据已经自动处理了<strong>XSS攻击，过滤转换了危险字符</strong></strong></strong></span></p>
<p><span style="color: #ff0000"><strong><strong><strong>如果要使危险字符可以远行，就需要在模板语言接收数据的地方<span style="color: #0000ff">{% raw 接收数据变量 %}</span></strong></strong></strong></span></p>
<p><span style="color: #ff0000"><strong><strong><strong>raw写在模板语言里，用{% raw 接收变量%}，让接收到的数据如果有html标签等进行原始显示，也就是可以运行，分页会用到</strong></strong></strong></span></p>
<p><span style="color: #0000ff"><strong><strong><strong>框架引擎</strong></strong></strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000">coding:utf-8</span>

<span style="color: #0000ff">import</span><span style="color: #000000"> tornado.ioloop
</span><span style="color: #0000ff">import</span> tornado.web                              <span style="color: #008000">#</span><span style="color: #008000">导入tornado模块下的web文件</span>
<span style="color: #0000ff">from</span> controllers <span style="color: #0000ff">import</span><span style="color: #000000"> index


settings </span>= {                                    <span style="color: #008000">#</span><span style="color: #008000">html文件归类配置，设置一个字典</span>
    <span style="color: #800000">"</span><span style="color: #800000">template_path</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">views</span><span style="color: #800000">"</span>,                    <span style="color: #008000">#</span><span style="color: #008000">键为template_path固定的，值为要存放HTML的文件夹名称</span>
    <span style="color: #800000">"</span><span style="color: #800000">static_path</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">statics</span><span style="color: #800000">"</span>,                    <span style="color: #008000">#</span><span style="color: #008000">键为static_path固定的，值为要存放js和css的文件夹名称</span>
<span style="color: #000000">}


</span><span style="color: #008000">#</span><span style="color: #008000">路由映射</span>
application = tornado.web.Application([         <span style="color: #008000">#</span><span style="color: #008000">创建一个变量等于tornado.web下的Application方法</span>
    (r<span style="background-color: #ff99cc"><span style="color: #800000">"</span><span style="color: #800000">/index/(?P&lt;page&gt;\d*)</span><span style="color: #800000">"</span></span>, index.indexHandler),    <span style="color: #008000">#</span><span style="color: #008000">正则匹配访问路径，访问录index/后面可以是可以是0个或多个数字</span>
],**settings)                                   <span style="color: #008000">#</span><span style="color: #008000">将html文件归类配置字典，写在路由映射的第二个参数里</span>

<span style="color: #0000ff">if</span> <span style="color: #800080">__name__</span> == <span style="color: #800000">"</span><span style="color: #800000">__main__</span><span style="color: #800000">"</span><span style="color: #000000">:
    </span><span style="color: #008000">#</span><span style="color: #008000">内部socket运行起来</span>
    application.listen(8888)                    <span style="color: #008000">#</span><span style="color: #008000">设置端口</span>
    tornado.ioloop.IOLoop.instance().start()</pre>
</div>
<p><span style="color: #0000ff"><strong>逻辑处理</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000">coding:utf-8</span>

<span style="color: #0000ff">import</span><span style="color: #000000"> tornado.ioloop
</span><span style="color: #0000ff">import</span> tornado.web                              <span style="color: #008000">#</span><span style="color: #008000">导入tornado模块下的web文件</span>
SHUJU =<span style="color: #000000"> [
    {</span><span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">lgx</span><span style="color: #800000">"</span>,<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">729088188@qq.com</span><span style="color: #800000">"</span><span style="color: #000000">}
]

</span><span style="color: #008000">#</span><span style="color: #008000">逻辑处理</span>

<span style="color: #0000ff">class</span> indexHandler(tornado.web.RequestHandler):  <span style="color: #008000">#</span><span style="color: #008000">定义一个类，继承tornado.web下的RequestHandler类</span>
    <span style="color: #0000ff">def</span> get(self,page):                                              <span style="color: #008000">#</span><span style="color: #008000">get()方法，接收get方式请求</span>
        <span style="color: #008000">#</span><span style="color: #008000">接收路由映射正则名称page，也就是用户访问的后缀，也就是访问的页码</span>
        <span style="color: #008000">#</span><span style="color: #008000">假如每页显示5条信息，page就是当前页</span>
        <span style="color: #008000">#</span><span style="color: #008000">第一页就应该获取SHUJU全局变量里的0-5条</span>
        <span style="color: #008000">#</span><span style="color: #008000">第二页就应该获取SHUJU全局变量里的5-10条</span>

        <span style="color: #008000">#</span><span style="color: #008000">换算页码获取数据范围的公式</span>
        <span style="color: #008000">#</span><span style="color: #008000">当前页码减去1乘以显示条数=当前页获取数据的起始条数，也就是从第几条开始获取</span>
        <span style="color: #008000">#</span><span style="color: #008000">当前页码乘以显示条数=当前页获取数据的结束条数，也就是从第几条结束获取</span>

        <span style="background-color: #ff99cc"><span style="color: #0000ff">try</span>:</span>                                        <span style="color: #008000">#</span><span style="color: #008000">尝试执行</span>
            <span style="background-color: #ff99cc">page = int(page)</span>                        <span style="color: #008000">#</span><span style="color: #008000">将页码转换成数字类型</span>
       <span style="background-color: #ff99cc"> <span style="color: #0000ff">except</span>: </span>                                    <span style="color: #008000">#</span><span style="color: #008000">如果出错</span>
            <span style="background-color: #ff99cc">page = 1   </span>                             <span style="color: #008000">#</span><span style="color: #008000">将页码等于1</span>
        <span style="background-color: #ff99cc"><span style="color: #0000ff">if</span> page &lt; 1: </span>                               <span style="color: #008000">#</span><span style="color: #008000">判断页面如果小于1</span>
            <span style="background-color: #ff99cc">page = 1</span>                                <span style="color: #008000">#</span><span style="color: #008000">页码等于1</span>
<span style="background-color: #ff99cc"><span style="color: #000000">
        kaishi </span>= (page - 1) * 5</span>                     <span style="color: #008000">#</span><span style="color: #008000">当前页码获取数据起始位置</span>
        <span style="background-color: #ff99cc">jieshu = page * 5</span>                           <span style="color: #008000">#</span><span style="color: #008000">当前页码获取数据结束位置</span>
        <span style="background-color: #ff99cc">xianshi = SHUJU[kaishi:jieshu]</span>              <span style="color: #008000">#</span><span style="color: #008000">通过起始和结束位置以下标方式获取指定范围的列表数据</span>
<span style="background-color: #ff99cc"><span style="color: #000000">
        self.render(</span><span style="color: #800000">"</span><span style="color: #800000">index.html</span><span style="color: #800000">"</span>,shuju = xianshi,yema = page)</span>   <span style="color: #008000">#</span><span style="color: #008000">显示index.html文件，通过起始和结束位置以下标方式获取指定范围的数据传入模板，传值页码</span>

    <span style="color: #0000ff">def</span><span style="color: #000000"> post(self,page):
        <span style="background-color: #ffff00">user </span></span><span style="background-color: #ffff00">= self.get_argument(<span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>)</span>            <span style="color: #008000">#</span><span style="color: #008000">接收用户提交的用户名</span>
        <span style="background-color: #ffff00">emia = self.get_argument(<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>)</span>            <span style="color: #008000">#</span><span style="color: #008000">接收用户提交的邮箱</span>
        <span style="background-color: #ffff00">temp = {<span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>:user,<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>:emia}</span>            <span style="color: #008000">#</span><span style="color: #008000">将邮箱和用户名组合成字典，</span>
        <span style="background-color: #ffff00">SHUJU.append(temp)</span>                          <span style="color: #008000">#</span><span style="color: #008000">将字典追加到SHUJU全局变量</span>
        <span style="background-color: #ffff00">self.redirect(<span style="color: #800000">"</span><span style="color: #800000">/index/</span><span style="color: #800000">"</span> + page)</span>             <span style="color: #008000">#</span><span style="color: #008000">跳转到当前页面</span></pre>
</div>
<p><span style="color: #0000ff"><strong>html</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #0000ff">&lt;!</span><span style="color: #ff00ff">DOCTYPE html</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">html </span><span style="color: #ff0000">lang</span><span style="color: #0000ff">="en"</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">meta </span><span style="color: #ff0000">charset</span><span style="color: #0000ff">="UTF-8"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>Title<span style="color: #0000ff">&lt;/</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">link </span><span style="color: #ff0000">rel</span><span style="color: #0000ff">="stylesheet"</span><span style="color: #ff0000"> href</span><span style="color: #0000ff">='{{static_url("s1.css")}}'</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>提交数据<span style="color: #0000ff">&lt;/</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">form </span><span style="color: #ff0000">method</span><span style="color: #0000ff">="post"</span><span style="color: #ff0000"> action</span><span style="color: #0000ff">="/index/{{yema}}"</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
    用户名：</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">name</span><span style="color: #0000ff">="user"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="text"</span><span style="color: #0000ff">/&gt;</span><span style="color: #000000">
    邮箱：</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">name</span><span style="color: #0000ff">="emia"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="text"</span><span style="color: #0000ff">/&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">type</span><span style="color: #0000ff">="submit"</span><span style="color: #ff0000"> value</span><span style="color: #0000ff">="提交"</span><span style="color: #0000ff">/&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">form</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>显示数据<span style="color: #0000ff">&lt;/</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">table </span><span style="color: #ff0000">border</span><span style="color: #0000ff">="1"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">thead</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>用户名<span style="color: #0000ff">&lt;/</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>邮箱<span style="color: #0000ff">&lt;/</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;/</span><span style="color: #800000">thead</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">tbody</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #008000">&lt;!--</span><span style="color: #008000">循环接收到的shuju显示到表格</span><span style="color: #008000">--&gt;</span><span style="background-color: #ff99cc"><span style="color: #000000">
        {% for i in shuju %}
            </span><span style="color: #0000ff">&lt;</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>{{i["user"]}}<span style="color: #0000ff">&lt;/</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>{% <span style="background-color: #ffff00"><strong>raw</strong></span> i["emia"] %}<span style="color: #0000ff">&lt;/</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
        {% end %}
    </span></span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">tbody</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">table</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">html</span><span style="color: #0000ff">&gt;</span></pre>
</div>
<p><img src="https://images2015.cnblogs.com/blog/955761/201705/955761-20170519201353432-30752661.png" alt=""></p>
<p><span style="color: #0000ff"><strong><img src="https://images2015.cnblogs.com/blog/955761/201705/955761-20170519201429572-484461957.png" alt=""></strong></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #ff0000; background-color: #ffff00"><strong>计算页码</strong></span><br><span style="color: #ff0000"><strong>第一步、数据总量除以显示条数，取余，两个变量接收，第一个变量得到相除后的整数，后一个变量得到相除后的余数(小数)</strong></span><br><span style="color: #ff0000"><strong>	　　1、判断余数如果大于0，页面数等于整数加1，等于分页总量</strong></span><br><span style="color: #ff0000"><strong>第二步、定义一个列表接收分页数据</strong></span><br><span style="color: #ff0000"><strong>	　　1、根据分页总量循环次数</strong></span><br><span style="color: #ff0000"><strong>	　　2、判断循环到的页码等于当前页面，格式化当前页码设置样式</strong></span><br><span style="color: #ff0000"><strong>	　　3、否则格式化当前页码，将格式化的页码数据追加到列表</strong></span><br><span style="color: #ff0000"><strong>	　　4、将列表连接长一串字符串</strong></span><br><span style="color: #ff0000"><strong>	　　5、将字符串传递到html模板</strong></span><br><span style="color: #ff0000"><strong>第三步、在html模板接收传递过来的字符串</strong></span></p>
<p><span style="color: #0000ff"><strong>模板引擎</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000">coding:utf-8</span>

<span style="color: #0000ff">import</span><span style="color: #000000"> tornado.ioloop
</span><span style="color: #0000ff">import</span> tornado.web                              <span style="color: #008000">#</span><span style="color: #008000">导入tornado模块下的web文件</span>
<span style="color: #0000ff">from</span> controllers <span style="color: #0000ff">import</span><span style="color: #000000"> index


settings </span>= {                                    <span style="color: #008000">#</span><span style="color: #008000">html文件归类配置，设置一个字典</span>
    <span style="color: #800000">"</span><span style="color: #800000">template_path</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">views</span><span style="color: #800000">"</span>,                    <span style="color: #008000">#</span><span style="color: #008000">键为template_path固定的，值为要存放HTML的文件夹名称</span>
    <span style="color: #800000">"</span><span style="color: #800000">static_path</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">statics</span><span style="color: #800000">"</span>,                    <span style="color: #008000">#</span><span style="color: #008000">键为static_path固定的，值为要存放js和css的文件夹名称</span>
<span style="color: #000000">}


</span><span style="color: #008000">#</span><span style="color: #008000">路由映射</span>
application = tornado.web.Application([         <span style="color: #008000">#</span><span style="color: #008000">创建一个变量等于tornado.web下的Application方法</span>
    (r<span style="color: #800000">"</span><span style="color: #800000">/index/(?P&lt;page&gt;\d*)</span><span style="color: #800000">"</span>, index.indexHandler),    <span style="color: #008000">#</span><span style="color: #008000">正则匹配访问路径，访问录index/后面可以是可以是0个或多个数字</span>
],**settings)                                   <span style="color: #008000">#</span><span style="color: #008000">将html文件归类配置字典，写在路由映射的第二个参数里</span>

<span style="color: #0000ff">if</span> <span style="color: #800080">__name__</span> == <span style="color: #800000">"</span><span style="color: #800000">__main__</span><span style="color: #800000">"</span><span style="color: #000000">:
    </span><span style="color: #008000">#</span><span style="color: #008000">内部socket运行起来</span>
    application.listen(8888)                    <span style="color: #008000">#</span><span style="color: #008000">设置端口</span>
    tornado.ioloop.IOLoop.instance().start()</pre>
</div>
<p><span style="color: #0000ff"><strong>逻辑处理</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000">coding:utf-8</span>

<span style="color: #0000ff">import</span><span style="color: #000000"> tornado.ioloop
</span><span style="color: #0000ff">import</span> tornado.web                              <span style="color: #008000">#</span><span style="color: #008000">导入tornado模块下的web文件</span>
SHUJU =<span style="color: #000000"> [
    {</span><span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">lgx</span><span style="color: #800000">"</span>,<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">729088188@qq.com</span><span style="color: #800000">"</span><span style="color: #000000">}
]
</span><span style="color: #0000ff">for</span> f <span style="color: #0000ff">in</span> range(300<span style="color: #000000">):
    SHUJU.append({</span><span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>: <span style="color: #800000">"</span><span style="color: #800000">lgx</span><span style="color: #800000">"</span>, <span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>: <span style="color: #800000">"</span><span style="color: #800000">729088188@qq.com</span><span style="color: #800000">"</span>})   <span style="color: #008000">#</span><span style="color: #008000">填充数据到300条</span>

<span style="color: #008000">#</span><span style="color: #008000">逻辑处理</span>

<span style="color: #0000ff">class</span> indexHandler(tornado.web.RequestHandler):  <span style="color: #008000">#</span><span style="color: #008000">定义一个类，继承tornado.web下的RequestHandler类</span>
    <span style="color: #0000ff">def</span> get(self,page):                                              <span style="color: #008000">#</span><span style="color: #008000">get()方法，接收get方式请求</span>
        <span style="color: #008000">#</span><span style="color: #008000">接收路由映射正则名称page，也就是用户访问的后缀，也就是访问的页码</span>
        <span style="color: #008000">#</span><span style="color: #008000">假如每页显示5条信息，page就是当前页</span>
        <span style="color: #008000">#</span><span style="color: #008000">第一页就应该获取SHUJU全局变量里的0-5条</span>
        <span style="color: #008000">#</span><span style="color: #008000">第二页就应该获取SHUJU全局变量里的5-10条</span>

        <span style="color: #008000">#</span><span style="color: #008000">换算页码获取数据范围的公式</span>
        <span style="color: #008000">#</span><span style="color: #008000">当前页码减去1乘以显示条数=当前页获取数据的起始条数，也就是从第几条开始获取</span>
        <span style="color: #008000">#</span><span style="color: #008000">当前页码乘以显示条数=当前页获取数据的结束条数，也就是从第几条结束获取</span>

        <span style="color: #0000ff">try</span>:                                        <span style="color: #008000">#</span><span style="color: #008000">尝试执行</span>
            page = int(page)                        <span style="color: #008000">#</span><span style="color: #008000">将页码转换成数字类型</span>
        <span style="color: #0000ff">except</span>:                                     <span style="color: #008000">#</span><span style="color: #008000">如果出错</span>
            page = 1                                <span style="color: #008000">#</span><span style="color: #008000">将页码等于1</span>
        <span style="color: #0000ff">if</span> page &lt; 1:                                <span style="color: #008000">#</span><span style="color: #008000">判断页面如果小于1</span>
            page = 1                                <span style="color: #008000">#</span><span style="color: #008000">页码等于1</span>
<span style="color: #000000">
        kaishi </span>= (page - 1) * 5                     <span style="color: #008000">#</span><span style="color: #008000">当前页码获取数据起始位置</span>
        jieshu = page * 5                           <span style="color: #008000">#</span><span style="color: #008000">当前页码获取数据结束位置</span>
        xianshi = SHUJU[kaishi:jieshu]              <span style="color: #008000">#</span><span style="color: #008000">通过起始和结束位置以下标方式获取指定范围的列表数据</span>


        <span style="color: #008000">#</span><span style="color: #008000">计算页码显示</span>
        <span style="background-color: #ff99cc">zyema,c = divmod(len(SHUJU),5)</span>              <span style="color: #008000">#</span><span style="color: #008000">数据总量除以显示条数，取余，两个变量接收，第一个变量得到相除后的整数，后一个变量得到相除后的余数(小数)</span>
        <span style="background-color: #ff99cc"><span style="color: #0000ff">if</span> c &gt; 0:</span>                                   <span style="color: #008000">#</span><span style="color: #008000">判断余数如果大于0，</span>
            <span style="background-color: #ff99cc">zyema += 1</span>                              <span style="color: #008000">#</span><span style="color: #008000">页面数等于整数加1，等于分页总量</span>
<span style="background-color: #ff99cc"><span style="color: #000000">
        yema </span>= []</span>                                   <span style="color: #008000">#</span><span style="color: #008000">定义一个列表接收分页数据</span>
        <span style="background-color: #ff99cc"><span style="color: #0000ff">for</span> i <span style="color: #0000ff">in</span> range(zyema):</span>                      <span style="color: #008000">#</span><span style="color: #008000">根据分页总量循环次数</span>
            <span style="background-color: #ff99cc"><span style="color: #0000ff">if</span> i+1 == page:</span>                         <span style="color: #008000">#</span><span style="color: #008000">判断循环到的页码等于当前页面</span>
                <span style="background-color: #ff99cc">temp = <span style="color: #800000">'</span><span style="color: #800000">&lt;li class="yem"&gt;&lt;a href="/index/%s"&gt;%s&lt;/a&gt;&lt;/li&gt;</span><span style="color: #800000">'</span> % (i+1,i+1)</span>    <span style="color: #008000">#</span><span style="color: #008000">格式化当前页码设置样式</span>
            <span style="color: #0000ff; background-color: #ff99cc">else</span><span style="color: #000000"><span style="background-color: #ff99cc">:</span>
                <span style="background-color: #ff99cc">temp </span></span><span style="background-color: #ff99cc">= <span style="color: #800000">'</span><span style="color: #800000">&lt;li&gt;&lt;a href="/index/%s"&gt;%s&lt;/a&gt;&lt;/li&gt;</span><span style="color: #800000">'</span> % (i + 1, i + 1)</span>           <span style="color: #008000">#</span><span style="color: #008000">格式化当前页码</span>
            <span style="background-color: #ff99cc">yema.append(temp)</span>                                                           <span style="color: #008000">#</span><span style="color: #008000">将格式化的页码数据追加到列表</span>
            <span style="background-color: #ff99cc">zfpage = <span style="color: #800000">""</span>.join(yema)</span>                                                      <span style="color: #008000">#</span><span style="color: #008000">将列表连接长一串字符串</span>
<span style="color: #000000">
        self.render(</span><span style="color: #800000">"</span><span style="color: #800000">index.html</span><span style="color: #800000">"</span>,shuju = xianshi,yema = page,<span style="background-color: #ff99cc">zfpage = zfpage</span>)   <span style="color: #008000">#</span><span style="color: #008000">显示index.html文件，传递当前页码，传递分页显示页码</span>

    <span style="color: #0000ff">def</span><span style="color: #000000"> post(self,page):
        user </span>= self.get_argument(<span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>)            <span style="color: #008000">#</span><span style="color: #008000">接收用户提交的用户名</span>
        emia = self.get_argument(<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>)            <span style="color: #008000">#</span><span style="color: #008000">接收用户提交的邮箱</span>
        temp = {<span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>:user,<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>:emia}            <span style="color: #008000">#</span><span style="color: #008000">将邮箱和用户名组合成字典，</span>
        SHUJU.append(temp)                          <span style="color: #008000">#</span><span style="color: #008000">将字典追加到SHUJU全局变量</span>
        self.redirect(<span style="color: #800000">"</span><span style="color: #800000">/index/</span><span style="color: #800000">"</span> + page)             <span style="color: #008000">#</span><span style="color: #008000">跳转到当前页面</span></pre>
</div>
<p><span style="color: #0000ff"><strong>html</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #0000ff">&lt;!</span><span style="color: #ff00ff">DOCTYPE html</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">html </span><span style="color: #ff0000">lang</span><span style="color: #0000ff">="en"</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">meta </span><span style="color: #ff0000">charset</span><span style="color: #0000ff">="UTF-8"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>Title<span style="color: #0000ff">&lt;/</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">link </span><span style="color: #ff0000">rel</span><span style="color: #0000ff">="stylesheet"</span><span style="color: #ff0000"> href</span><span style="color: #0000ff">='{{static_url("s1.css")}}'</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>提交数据<span style="color: #0000ff">&lt;/</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">form </span><span style="color: #ff0000">method</span><span style="color: #0000ff">="post"</span><span style="color: #ff0000"> action</span><span style="color: #0000ff">="/index/{{yema}}"</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
    用户名：</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">name</span><span style="color: #0000ff">="user"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="text"</span><span style="color: #0000ff">/&gt;</span><span style="color: #000000">
    邮箱：</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">name</span><span style="color: #0000ff">="emia"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="text"</span><span style="color: #0000ff">/&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">type</span><span style="color: #0000ff">="submit"</span><span style="color: #ff0000"> value</span><span style="color: #0000ff">="提交"</span><span style="color: #0000ff">/&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">form</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>显示数据<span style="color: #0000ff">&lt;/</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">table </span><span style="color: #ff0000">border</span><span style="color: #0000ff">="1"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">thead</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>用户名<span style="color: #0000ff">&lt;/</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>邮箱<span style="color: #0000ff">&lt;/</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;/</span><span style="color: #800000">thead</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">tbody</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #008000">&lt;!--</span><span style="color: #008000">循环接收到的shuju显示到表格</span><span style="color: #008000">--&gt;</span><span style="color: #000000">
        {% for i in shuju %}
            </span><span style="color: #0000ff">&lt;</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>{{i["user"]}}<span style="color: #0000ff">&lt;/</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>{% raw i["emia"] %}<span style="color: #0000ff">&lt;/</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
        {% end %}
    </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">tbody</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">table</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">ul </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="fy"</span><span style="color: #0000ff">&gt;</span><span style="color: #000000; background-color: #ff99cc">
    {% raw zfpage %}
</span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">ul</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">html</span><span style="color: #0000ff">&gt;</span></pre>
</div>
<p><img src="https://images2015.cnblogs.com/blog/955761/201705/955761-20170520071335307-155538133.png" alt=""></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #ff0000; background-color: #ffff00"><strong>页码显示</strong></span></p>
<p><span style="color: #ff0000"><strong>计算每页显示多少个页码</strong></span><br><span style="color: #ff0000"><strong>假设每页显示11个页码，当前页的前5个和后5个</strong></span><br><span style="color: #ff0000"><strong>所以需要动态调整循环里的值</strong></span></p>
<p><span style="color: #0000ff"><strong>框架引擎</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000">coding:utf-8</span>

<span style="color: #0000ff">import</span><span style="color: #000000"> tornado.ioloop
</span><span style="color: #0000ff">import</span> tornado.web                              <span style="color: #008000">#</span><span style="color: #008000">导入tornado模块下的web文件</span>
<span style="color: #0000ff">from</span> controllers <span style="color: #0000ff">import</span><span style="color: #000000"> index


settings </span>= {                                    <span style="color: #008000">#</span><span style="color: #008000">html文件归类配置，设置一个字典</span>
    <span style="color: #800000">"</span><span style="color: #800000">template_path</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">views</span><span style="color: #800000">"</span>,                    <span style="color: #008000">#</span><span style="color: #008000">键为template_path固定的，值为要存放HTML的文件夹名称</span>
    <span style="color: #800000">"</span><span style="color: #800000">static_path</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">statics</span><span style="color: #800000">"</span>,                    <span style="color: #008000">#</span><span style="color: #008000">键为static_path固定的，值为要存放js和css的文件夹名称</span>
<span style="color: #000000">}


</span><span style="color: #008000">#</span><span style="color: #008000">路由映射</span>
application = tornado.web.Application([         <span style="color: #008000">#</span><span style="color: #008000">创建一个变量等于tornado.web下的Application方法</span>
    (r<span style="color: #800000">"</span><span style="color: #800000">/index/(?P&lt;page&gt;\d*)</span><span style="color: #800000">"</span>, index.indexHandler),    <span style="color: #008000">#</span><span style="color: #008000">正则匹配访问路径，访问录index/后面可以是可以是0个或多个数字</span>
],**settings)                                   <span style="color: #008000">#</span><span style="color: #008000">将html文件归类配置字典，写在路由映射的第二个参数里</span>

<span style="color: #0000ff">if</span> <span style="color: #800080">__name__</span> == <span style="color: #800000">"</span><span style="color: #800000">__main__</span><span style="color: #800000">"</span><span style="color: #000000">:
    </span><span style="color: #008000">#</span><span style="color: #008000">内部socket运行起来</span>
    application.listen(8888)                    <span style="color: #008000">#</span><span style="color: #008000">设置端口</span>
    tornado.ioloop.IOLoop.instance().start()</pre>
</div>
<p><span style="color: #0000ff"><strong>逻辑处理</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000">coding:utf-8</span>

<span style="color: #0000ff">import</span><span style="color: #000000"> tornado.ioloop
</span><span style="color: #0000ff">import</span> tornado.web                              <span style="color: #008000">#</span><span style="color: #008000">导入tornado模块下的web文件</span>
SHUJU =<span style="color: #000000"> [
    {</span><span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">lgx</span><span style="color: #800000">"</span>,<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>:<span style="color: #800000">"</span><span style="color: #800000">729088188@qq.com</span><span style="color: #800000">"</span><span style="color: #000000">}
]
</span><span style="color: #0000ff">for</span> f <span style="color: #0000ff">in</span> range(300<span style="color: #000000">):
    SHUJU.append({</span><span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>: <span style="color: #800000">"</span><span style="color: #800000">lgx</span><span style="color: #800000">"</span>, <span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>: <span style="color: #800000">"</span><span style="color: #800000">729088188@qq.com</span><span style="color: #800000">"</span>})   <span style="color: #008000">#</span><span style="color: #008000">填充数据到300条</span>

<span style="color: #008000">#</span><span style="color: #008000">逻辑处理</span>

<span style="color: #0000ff">class</span> indexHandler(tornado.web.RequestHandler):  <span style="color: #008000">#</span><span style="color: #008000">定义一个类，继承tornado.web下的RequestHandler类</span>
    <span style="color: #0000ff">def</span> get(self,page):                                              <span style="color: #008000">#</span><span style="color: #008000">get()方法，接收get方式请求</span>
        <span style="color: #008000">#</span><span style="color: #008000">接收路由映射正则名称page，也就是用户访问的后缀，也就是访问的页码</span>
        <span style="color: #008000">#</span><span style="color: #008000">假如每页显示5条信息，page就是当前页</span>
        <span style="color: #008000">#</span><span style="color: #008000">第一页就应该获取SHUJU全局变量里的0-5条</span>
        <span style="color: #008000">#</span><span style="color: #008000">第二页就应该获取SHUJU全局变量里的5-10条</span>

        <span style="color: #008000">#</span><span style="color: #008000">换算页码获取数据范围的公式</span>
        <span style="color: #008000">#</span><span style="color: #008000">当前页码减去1乘以显示条数=当前页获取数据的起始条数，也就是从第几条开始获取</span>
        <span style="color: #008000">#</span><span style="color: #008000">当前页码乘以显示条数=当前页获取数据的结束条数，也就是从第几条结束获取</span>

        <span style="color: #0000ff">try</span>:                                        <span style="color: #008000">#</span><span style="color: #008000">尝试执行</span>
            page = int(page)                        <span style="color: #008000">#</span><span style="color: #008000">将页码转换成数字类型</span>
        <span style="color: #0000ff">except</span>:                                     <span style="color: #008000">#</span><span style="color: #008000">如果出错</span>
            page = 1                                <span style="color: #008000">#</span><span style="color: #008000">将页码等于1</span>
        <span style="color: #0000ff">if</span> page &lt; 1:                                <span style="color: #008000">#</span><span style="color: #008000">判断页面如果小于1</span>
            page = 1                                <span style="color: #008000">#</span><span style="color: #008000">页码等于1</span>
<span style="color: #000000">
        kaishi </span>= (page - 1) * 5                     <span style="color: #008000">#</span><span style="color: #008000">当前页码获取数据起始位置</span>
        jieshu = page * 5                           <span style="color: #008000">#</span><span style="color: #008000">当前页码获取数据结束位置</span>
        xianshi = SHUJU[kaishi:jieshu]              <span style="color: #008000">#</span><span style="color: #008000">通过起始和结束位置以下标方式获取指定范围的列表数据</span>


        <span style="color: #008000">#</span><span style="color: #008000">计算页码显示</span>
        zyema,c = divmod(len(SHUJU),5)              <span style="color: #008000">#</span><span style="color: #008000">数据总量除以显示条数，取余，两个变量接收，第一个变量得到相除后的整数，后一个变量得到相除后的余数(小数)</span>
        <span style="color: #0000ff">if</span> c &gt; 0:                                   <span style="color: #008000">#</span><span style="color: #008000">判断余数如果大于0，</span>
            zyema += 1                              <span style="color: #008000">#</span><span style="color: #008000">页面数等于整数加1，等于分页总量</span>
<span style="color: #000000">
        yema </span>= []                                   <span style="color: #008000">#</span><span style="color: #008000">定义一个列表接收分页数据</span>

        <span style="color: #008000">#</span><span style="color: #008000">计算每页显示多少个页码</span>
        <span style="color: #008000">#</span><span style="color: #008000">假设每页显示11个页码，当前页的前5个和后5个</span>
        <span style="color: #008000">#</span><span style="color: #008000">所以需要动态调整循环里的值</span>
        <span style="background-color: #ff99cc"><span style="color: #0000ff">if</span> zyema &lt; 11:</span>                      <span style="color: #008000">#</span><span style="color: #008000">判断总页码小于11</span>
            <span style="background-color: #ff99cc">s = 1</span>                           <span style="color: #008000">#</span><span style="color: #008000">起始页码为1</span>
            <span style="background-color: #ff99cc">t = zyema</span>                       <span style="color: #008000">#</span><span style="color: #008000">结束页码为总页码</span>
        <span style="background-color: #ff99cc"><span style="color: #0000ff">else</span><span style="color: #000000">:
            </span><span style="color: #0000ff">if</span> page &lt;= 6:</span>                   <span style="color: #008000">#</span><span style="color: #008000">判断当前页码小于等于6</span>
                <span style="background-color: #ff99cc">s = 1</span>                       <span style="color: #008000">#</span><span style="color: #008000">起始页码为1</span>
                <span style="background-color: #ff99cc">t = 11</span>                      <span style="color: #008000">#</span><span style="color: #008000">结束页码为11</span>
            <span style="background-color: #ff99cc"><span style="color: #0000ff">else</span><span style="color: #000000">:
                </span><span style="color: #0000ff">if</span> (page + 5) &gt; zyema:</span>      <span style="color: #008000">#</span><span style="color: #008000">判断当前页加5如果大于总页数</span>
                    <span style="background-color: #ff99cc">s = zyema - 10</span>          <span style="color: #008000">#</span><span style="color: #008000">起始页为总页数减以10</span>
                    <span style="background-color: #ff99cc">t = zyema</span>               <span style="color: #008000">#</span><span style="color: #008000">结束页为总页数</span>
                <span style="color: #0000ff; background-color: #ff99cc">else</span><span style="color: #000000"><span style="background-color: #ff99cc">:</span>
                    <span style="background-color: #ff99cc">s </span></span><span style="background-color: #ff99cc">= page - 5</span>            <span style="color: #008000">#</span><span style="color: #008000">起始页为当前页减以5</span>
                    <span style="background-color: #ff99cc">t = page + 5</span>            <span style="color: #008000">#</span><span style="color: #008000">结束页为当前页加5</span>

        <span style="color: #0000ff">for</span> i <span style="color: #0000ff">in</span> range(<span style="background-color: #ff99cc">s,t+1</span>):                      <span style="color: #008000">#</span><span style="color: #008000">根据分页总量循环次数</span>
            <span style="color: #0000ff">if</span> i == page:                         <span style="color: #008000">#</span><span style="color: #008000">判断循环到的页码等于当前页面</span>
                temp = <span style="color: #800000">'</span><span style="color: #800000">&lt;li class="yem"&gt;&lt;a href="/index/%s"&gt;%s&lt;/a&gt;&lt;/li&gt;</span><span style="color: #800000">'</span> % (<span style="background-color: #ff99cc">i,i</span>)    <span style="color: #008000">#</span><span style="color: #008000">格式化当前页码设置样式</span>
            <span style="color: #0000ff">else</span><span style="color: #000000">:
                temp </span>= <span style="color: #800000">'</span><span style="color: #800000">&lt;li&gt;&lt;a href="/index/%s"&gt;%s&lt;/a&gt;&lt;/li&gt;</span><span style="color: #800000">'</span> % (<span style="background-color: #ff99cc">i, i</span>)           <span style="color: #008000">#</span><span style="color: #008000">格式化当前页码</span>
            yema.append(temp)                                                           <span style="color: #008000">#</span><span style="color: #008000">将格式化的页码数据追加到列表</span>
            zfpage = <span style="color: #800000">""</span>.join(yema)                                                      <span style="color: #008000">#</span><span style="color: #008000">将列表连接长一串字符串</span>
<span style="color: #000000">
        self.render(</span><span style="color: #800000">"</span><span style="color: #800000">index.html</span><span style="color: #800000">"</span>,shuju = xianshi,yema = page,zfpage = zfpage)   <span style="color: #008000">#</span><span style="color: #008000">显示index.html文件，传递当前页码，传递分页显示页码</span>

    <span style="color: #0000ff">def</span><span style="color: #000000"> post(self,page):
        user </span>= self.get_argument(<span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>)            <span style="color: #008000">#</span><span style="color: #008000">接收用户提交的用户名</span>
        emia = self.get_argument(<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>)            <span style="color: #008000">#</span><span style="color: #008000">接收用户提交的邮箱</span>
        temp = {<span style="color: #800000">"</span><span style="color: #800000">user</span><span style="color: #800000">"</span>:user,<span style="color: #800000">"</span><span style="color: #800000">emia</span><span style="color: #800000">"</span>:emia}            <span style="color: #008000">#</span><span style="color: #008000">将邮箱和用户名组合成字典，</span>
        SHUJU.append(temp)                          <span style="color: #008000">#</span><span style="color: #008000">将字典追加到SHUJU全局变量</span>
        self.redirect(<span style="color: #800000">"</span><span style="color: #800000">/index/</span><span style="color: #800000">"</span> + page)             <span style="color: #008000">#</span><span style="color: #008000">跳转到当前页面</span></pre>
</div>
<p><span style="color: #0000ff"><strong>html</strong></span></p>
<p>&nbsp;</p>
<div class="cnblogs_code">
<pre><span style="color: #0000ff">&lt;!</span><span style="color: #ff00ff">DOCTYPE html</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">html </span><span style="color: #ff0000">lang</span><span style="color: #0000ff">="en"</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">meta </span><span style="color: #ff0000">charset</span><span style="color: #0000ff">="UTF-8"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>Title<span style="color: #0000ff">&lt;/</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">link </span><span style="color: #ff0000">rel</span><span style="color: #0000ff">="stylesheet"</span><span style="color: #ff0000"> href</span><span style="color: #0000ff">='{{static_url("s1.css")}}'</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>提交数据<span style="color: #0000ff">&lt;/</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">form </span><span style="color: #ff0000">method</span><span style="color: #0000ff">="post"</span><span style="color: #ff0000"> action</span><span style="color: #0000ff">="/index/{{yema}}"</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
    用户名：</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">name</span><span style="color: #0000ff">="user"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="text"</span><span style="color: #0000ff">/&gt;</span><span style="color: #000000">
    邮箱：</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">name</span><span style="color: #0000ff">="emia"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="text"</span><span style="color: #0000ff">/&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">type</span><span style="color: #0000ff">="submit"</span><span style="color: #ff0000"> value</span><span style="color: #0000ff">="提交"</span><span style="color: #0000ff">/&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">form</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>显示数据<span style="color: #0000ff">&lt;/</span><span style="color: #800000">h1</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">table </span><span style="color: #ff0000">border</span><span style="color: #0000ff">="1"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">thead</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>用户名<span style="color: #0000ff">&lt;/</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>邮箱<span style="color: #0000ff">&lt;/</span><span style="color: #800000">th</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;/</span><span style="color: #800000">thead</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">tbody</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #008000">&lt;!--</span><span style="color: #008000">循环接收到的shuju显示到表格</span><span style="color: #008000">--&gt;</span><span style="color: #000000">
        {% for i in shuju %}
            </span><span style="color: #0000ff">&lt;</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>{{i["user"]}}<span style="color: #0000ff">&lt;/</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>{% raw i["emia"] %}<span style="color: #0000ff">&lt;/</span><span style="color: #800000">td</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">tr</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
        {% end %}
    </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">tbody</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">table</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">ul </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="fy"</span><span style="color: #0000ff">&gt;</span><span style="color: #000000; background-color: #ff99cc">
    {% raw zfpage %}
</span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">ul</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">html</span><span style="color: #0000ff">&gt;</span></pre>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #0000ff"><strong>&nbsp;</strong></span></p>
<p>&nbsp;</p></div>