第三百九十节，Django+Xadmin打造上线标准的在线教育平台—Django+cropper插件头像裁剪上传


			<div id="cnblogs_post_body" class="blogpost-body"><p><strong>第三百九十节，Django+Xadmin打造上线标准的在线教育平台—Django+cropper插件头像裁剪上传</strong></p>
<p>&nbsp;</p>
<p><span style="color: #ff0000"><strong><strong>实现原理</strong></strong></span></p>
<p><strong><strong>前台用<strong><span style="color: #ff0000">cropper插件</span>，将用户上传头像时裁剪图片的坐标和图片，传到逻辑处理函数里，在逻辑处理函数里接收原始图片进行保存，然后接收用户的裁剪坐标，利用python的<span style="color: #ff0000">Pillow模块图像处理模块里的PIL(图像库)</span>，将原始图片根据用户裁剪坐标进行裁剪</strong></strong></strong></p>
<p><span style="color: #0000ff; background-color: #ffffff"><strong><strong><strong>有两个重点：</strong></strong></strong><strong><strong><strong>第一要准备好<strong>cropper头像裁剪插件，</strong></strong></strong></strong><strong><strong><strong><strong>第二<strong><strong><strong>python环境要安装好<strong><strong><strong>Pillow模块</strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></span></p>
<p>&nbsp;</p>
<p><span style="color: #ff0000; background-color: #ffffff"><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>htnl页面</strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></span></p>
<p><span style="color: #0000ff; background-color: #ffffff"><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>编写htnl页面，引入<strong><strong><strong>cropper插件相关的css和js文件</strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></span></p>
<p><span style="color: #0000ff; background-color: #ffffff"><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>注意：下面<span style="background-color: #ff99cc">红色背景的地方</span>不要忘记设置，否则表单无法提交到后台</strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #0000ff">&lt;!</span><span style="color: #ff00ff">DOCTYPE html</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">html </span><span style="color: #ff0000">lang</span><span style="color: #0000ff">="en"</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
{% load staticfiles %} {# 启用静态文件引用#}
</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">meta </span><span style="color: #ff0000">charset</span><span style="color: #0000ff">="UTF-8"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>Document<span style="color: #0000ff">&lt;/</span><span style="color: #800000">title</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">link </span><span style="color: #ff0000">href</span><span style="color: #0000ff">="{% static 'tou_xiang/bootstrap/css/bootstrap.min.css' %}"</span><span style="color: #ff0000"> rel</span><span style="color: #0000ff">="stylesheet"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">link </span><span style="color: #ff0000">href</span><span style="color: #0000ff">="{% static 'tou_xiang/font-awesome/css/font-awesome.min.css' %}"</span><span style="color: #ff0000"> rel</span><span style="color: #0000ff">="stylesheet"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">link </span><span style="color: #ff0000">href</span><span style="color: #0000ff">="{% static 'tou_xiang/cropper/cropper.min.css' %}"</span><span style="color: #ff0000"> rel</span><span style="color: #0000ff">="stylesheet"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">link </span><span style="color: #ff0000">href</span><span style="color: #0000ff">="{% static 'tou_xiang/sitelogo/sitelogo.css' %}"</span><span style="color: #ff0000"> rel</span><span style="color: #0000ff">="stylesheet"</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">head</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
{# 头像上传开始----------------------------------- #}
{# 头像区块 #}
</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="ibox-content"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="row"</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">id</span><span style="color: #0000ff">="crop-avatar"</span><span style="color: #ff0000"> class</span><span style="color: #0000ff">="col-md-6"</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-view"</span><span style="color: #ff0000"> title</span><span style="color: #0000ff">="点击上传头像"</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">img </span><span style="color: #ff0000">src</span><span style="color: #0000ff">="{{ MEDIA_URL }}{% for ch in ch_username %}{{ ch.image }}{% endfor %}"</span><span style="color: #ff0000">
                     data-am-popover</span><span style="color: #0000ff">="{content: '点击上传头像', trigger: 'hover focus'}"</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
{# 上传弹出框 #}
</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="modal fade"</span><span style="color: #ff0000"> id</span><span style="color: #0000ff">="avatar-modal"</span><span style="color: #ff0000"> aria-hidden</span><span style="color: #0000ff">="true"</span><span style="color: #ff0000"> aria-labelledby</span><span style="color: #0000ff">="avatar-modal-label"</span><span style="color: #ff0000"> role</span><span style="color: #0000ff">="dialog"</span><span style="color: #ff0000">
     tabindex</span><span style="color: #0000ff">="-1"</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="modal-dialog modal-lg"</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="modal-content"</span><span style="color: #0000ff">&gt;</span>
            <span style="color: #0000ff">&lt;</span><span style="color: #800000">form </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-form"</span><span style="color: #ff0000"> action</span><span style="color: #0000ff">="<span style="background-color: #ff99cc">{% url 'touxiang' %}</span>"</span><span style="color: #ff0000"> enctype</span><span style="color: #0000ff">="<span style="background-color: #ff99cc">multipart/form-data</span>"</span><span style="color: #ff0000"> method</span><span style="color: #0000ff">="<span style="background-color: #ff99cc">post</span>"</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="modal-header"</span><span style="color: #0000ff">&gt;</span>
                    <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="close"</span><span style="color: #ff0000"> data-dismiss</span><span style="color: #0000ff">="modal"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="button"</span><span style="color: #0000ff">&gt;</span><span style="color: #ff0000">&amp;times;</span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                    <span style="color: #0000ff">&lt;</span><span style="color: #800000">h4 </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="modal-title"</span><span style="color: #ff0000"> id</span><span style="color: #0000ff">="avatar-modal-label"</span><span style="color: #0000ff">&gt;</span>上传图片<span style="color: #0000ff">&lt;/</span><span style="color: #800000">h4</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="modal-body"</span><span style="color: #0000ff">&gt;</span>
                    <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-body"</span><span style="color: #0000ff">&gt;</span>
                        <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">id</span><span style="color: #0000ff">="avatar-upload"</span><span style="color: #ff0000"> class</span><span style="color: #0000ff">="avatar-upload"</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-src"</span><span style="color: #ff0000"> name</span><span style="color: #0000ff">="avatar_src"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="hidden"</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-data"</span><span style="color: #ff0000"> name</span><span style="color: #0000ff">="avatar_data"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="hidden"</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">label </span><span style="color: #ff0000">for</span><span style="color: #0000ff">="avatarInput"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">input </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-input"</span><span style="color: #ff0000"> id</span><span style="color: #0000ff">="avatarInput"</span><span style="color: #ff0000"> name</span><span style="color: #0000ff">="avatar_file"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="file"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="tup btn btn-primary"</span><span style="color: #ff0000"> dir</span><span style="color: #0000ff">="ltr"</span><span style="color: #0000ff">&gt;</span>
                                    <span style="color: #0000ff">&lt;</span><span style="color: #800000">span </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="glyphicon glyphicon-cloud"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">span</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
                                    上传文件
                                </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">label</span><span style="color: #0000ff">&gt;</span>
                        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                        <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="row"</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="col-md-9"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-wrapper"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="col-md-3"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-preview preview-lg"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
                                {#</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-preview preview-md"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">#}
                                {#</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="avatar-preview preview-sm"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">#}
                            </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                        <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="row avatar-btns"</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="col-md-4"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="btn-group"</span><span style="color: #0000ff">&gt;</span>
                                    <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="btn btn-primary"</span><span style="color: #ff0000"> data-method</span><span style="color: #0000ff">="rotate"</span><span style="color: #ff0000"> data-option</span><span style="color: #0000ff">="-90"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="button"</span><span style="color: #ff0000">
                                            title</span><span style="color: #0000ff">="Rotate -90 degrees"</span><span style="color: #0000ff">&gt;&lt;</span><span style="color: #800000">i </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="fa fa-undo"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">i</span><span style="color: #0000ff">&gt;</span><span style="color: #000000"> 向左旋转
                                    </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="btn-group"</span><span style="color: #0000ff">&gt;</span>
                                    <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="btn btn-primary"</span><span style="color: #ff0000"> data-method</span><span style="color: #0000ff">="rotate"</span><span style="color: #ff0000"> data-option</span><span style="color: #0000ff">="90"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="button"</span><span style="color: #ff0000">
                                            title</span><span style="color: #0000ff">="Rotate 90 degrees"</span><span style="color: #0000ff">&gt;&lt;</span><span style="color: #800000">i </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="fa fa-repeat"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">i</span><span style="color: #0000ff">&gt;</span><span style="color: #000000"> 向右旋转
                                    </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="col-md-5"</span><span style="color: #ff0000"> style</span><span style="color: #0000ff">="text-align: right;"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="btn btn-primary fa fa-arrows"</span><span style="color: #ff0000"> data-method</span><span style="color: #0000ff">="setDragMode"</span><span style="color: #ff0000"> data-option</span><span style="color: #0000ff">="move"</span><span style="color: #ff0000">
                                        type</span><span style="color: #0000ff">="button"</span><span style="color: #ff0000"> title</span><span style="color: #0000ff">="移动"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">type</span><span style="color: #0000ff">="button"</span><span style="color: #ff0000"> class</span><span style="color: #0000ff">="btn btn-primary fa fa-search-plus"</span><span style="color: #ff0000"> data-method</span><span style="color: #0000ff">="zoom"</span><span style="color: #ff0000">
                                        data-option</span><span style="color: #0000ff">="0.1"</span><span style="color: #ff0000"> title</span><span style="color: #0000ff">="放大图片"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">type</span><span style="color: #0000ff">="button"</span><span style="color: #ff0000"> class</span><span style="color: #0000ff">="btn btn-primary fa fa-search-minus"</span><span style="color: #ff0000"> data-method</span><span style="color: #0000ff">="zoom"</span><span style="color: #ff0000">
                                        data-option</span><span style="color: #0000ff">="-0.1"</span><span style="color: #ff0000"> title</span><span style="color: #0000ff">="缩小图片"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">type</span><span style="color: #0000ff">="button"</span><span style="color: #ff0000"> class</span><span style="color: #0000ff">="btn btn-primary fa fa-refresh"</span><span style="color: #ff0000"> data-method</span><span style="color: #0000ff">="reset"</span><span style="color: #ff0000">
                                        title</span><span style="color: #0000ff">="重置图片"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;</span><span style="color: #800000">div </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="col-md-3"</span><span style="color: #0000ff">&gt;</span>
                                <span style="color: #0000ff">&lt;</span><span style="color: #800000">button </span><span style="color: #ff0000">id</span><span style="color: #0000ff">="txiangform"</span><span style="color: #ff0000"> class</span><span style="color: #0000ff">="btn btn-primary btn-block avatar-save"</span><span style="color: #ff0000"> type</span><span style="color: #0000ff">="submit"</span><span style="color: #0000ff">&gt;</span>
                                    <span style="color: #0000ff">&lt;</span><span style="color: #800000">i </span><span style="color: #ff0000">class</span><span style="color: #0000ff">="fa fa-save"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">i</span><span style="color: #0000ff">&gt;</span><span style="color: #000000"> 保存修改
                                </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">button</span><span style="color: #0000ff">&gt;</span>
                            <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                    <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
                <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span><span style="color: #000000; background-color: #ff99cc">
            {% csrf_token %}
            </span><span style="color: #0000ff">&lt;/</span><span style="color: #800000">form</span><span style="color: #0000ff">&gt;</span>
        <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
    <span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">div</span><span style="color: #0000ff">&gt;</span><span style="color: #000000">
{# 头像上传结束------------------------------------- #}
</span><span style="color: #0000ff">&lt;</span><span style="color: #800000">script </span><span style="color: #ff0000">src</span><span style="color: #0000ff">="{% static 'tou_xiang/jquery.min.js' %}"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">script</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">script </span><span style="color: #ff0000">src</span><span style="color: #0000ff">="{% static 'tou_xiang/bootstrap/js/bootstrap.min.js' %}"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">script</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">script </span><span style="color: #ff0000">src</span><span style="color: #0000ff">="{% static 'tou_xiang/cropper/cropper.min.js' %}"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">script</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;</span><span style="color: #800000">script </span><span style="color: #ff0000">src</span><span style="color: #0000ff">="{% static 'tou_xiang/sitelogo/sitelogo.js' %}"</span><span style="color: #0000ff">&gt;&lt;/</span><span style="color: #800000">script</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">body</span><span style="color: #0000ff">&gt;</span>
<span style="color: #0000ff">&lt;/</span><span style="color: #800000">html</span><span style="color: #0000ff">&gt;</span></pre>
</div>
<p><strong>效果图</strong></p>
<p><strong><img src="https://images2017.cnblogs.com/blog/955761/201709/955761-20170922091321931-1012627667.png" alt=""></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #ff0000"><strong>专门给上传头像配置一个url路由映射</strong></span></p>
<div class="cnblogs_code">
<pre>urlpatterns =<span style="color: #000000"> [

    url(r</span><span style="color: #800000">'</span><span style="color: #800000">usercenter_info.html</span><span style="color: #800000">'</span>, usercenter_info.as_view(), name=<span style="color: #800000">'</span><span style="color: #800000">usercenter_info</span><span style="color: #800000">'</span><span style="color: #000000">),

    </span><span style="color: #008000">#</span><span style="color: #008000"> 上传头像</span>
    url(r<span style="color: #800000">'</span><span style="color: #800000">touxiang/</span><span style="color: #800000">'</span>, touxiang.as_view(), name=<span style="color: #800000">'</span><span style="color: #800000">touxiang</span><span style="color: #800000">'</span><span style="color: #000000">)

]</span></pre>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #ff0000"><strong>forms.py文件编写头像表单验证</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000"> -*- coding:utf8 -*-</span>
<span style="color: #0000ff">from</span> django <span style="color: #0000ff">import</span> forms                             <span style="color: #008000">#</span><span style="color: #008000"> 导入Django的表单验证模块</span>
<span style="color: #0000ff">from</span> app_users.models <span style="color: #0000ff">import</span> Users       <span style="color: #008000">#</span><span style="color: #008000"> 导入数据库表类</span>


<span style="color: #0000ff">class</span><span style="color: #000000"> touxiangForm(forms.Form):
    avatar_file </span>= forms.ImageField()</pre>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #ff0000"><strong>views.py编写逻辑</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #0000ff">import</span><span style="color: #000000"> json
</span><span style="color: #0000ff">from</span> django.shortcuts <span style="color: #0000ff">import</span> render, HttpResponse, redirect  <span style="color: #008000">#</span><span style="color: #008000"> 导入django向浏览器返回方法</span>
<span style="background-color: #ff99cc"><span style="color: #0000ff">from</span> django.views.generic.base <span style="color: #0000ff">import</span><span style="color: #000000"> View</span></span><span style="color: #0000ff">from</span> pure_pagination <span style="color: #0000ff">import</span><span style="color: #000000"> Paginator, EmptyPage, PageNotAnInteger

</span><span style="color: #0000ff">from</span> app_organization.models <span style="color: #0000ff">import</span> CityDict, CourseOrg  <span style="color: #008000">#</span><span style="color: #008000"> 数据库表</span>
<span style="color: #0000ff">from</span> app_users.models <span style="color: #0000ff">import</span><span style="color: #000000; background-color: #ff99cc"> Users
</span><span style="color: #0000ff">from</span> app_organization.forms <span style="color: #0000ff">import</span><span style="color: #000000"> touxiangForm
</span><span style="color: #0000ff">from</span> utils.uploadfile <span style="color: #0000ff">import</span><span style="color: #000000; background-color: #ff99cc"> Uploadfile


</span><span style="color: #0000ff">class</span><span style="color: #000000"> touxiang(View):
    </span><span style="color: #0000ff">def</span><span style="color: #000000"> post(self, request):
        usern </span>= request.session.get(<span style="color: #800000">"</span><span style="color: #800000">username</span><span style="color: #800000">"</span>)                 <span style="color: #008000">#</span><span style="color: #008000"> 获取用户登录名称</span>
        us = <span style="background-color: #ff99cc">Users</span>.objects.filter(username=usern)               <span style="color: #008000">#</span><span style="color: #008000"> 到数据库查找用户</span>
        yanzh = touxiangForm(request.POST, request.FILES)       <span style="color: #008000">#</span><span style="color: #008000"> 验证表单</span>
        <span style="color: #0000ff">if</span> yanzh.is_valid():                                    <span style="color: #008000">#</span><span style="color: #008000"> 表单验证通过</span>
            erf = request.FILES[<span style="color: #800000">'</span><span style="color: #800000">avatar_file</span><span style="color: #800000">'</span>]                  <span style="color: #008000">#</span><span style="color: #008000"> 获取上传图片</span>
            jetu = request.POST[<span style="color: #800000">'</span><span style="color: #800000">avatar_data</span><span style="color: #800000">'</span><span style="color: #000000">]
            </span><span style="color: #008000">#</span><span style="color: #008000"> 将上传图片传入一个自定义函数里裁剪，返回图片路径</span>
            fanhui = <span style="background-color: #ff99cc">Uploadfile</span>(<span style="color: #800000">'</span><span style="color: #800000">image</span><span style="color: #800000">'</span><span style="color: #000000">, erf, jetu)

            us.update(image</span>=fanhui)                             <span style="color: #008000">#</span><span style="color: #008000"> 将图片路径修改到当前会员数据库</span>
            <span style="color: #008000">#</span><span style="color: #008000"> 向前台返回一个json，result值是图片路径</span>
            <span style="color: #0000ff">return</span> HttpResponse(json.dumps({<span style="color: #800000">'</span><span style="color: #800000">result</span><span style="color: #800000">'</span>: <span style="color: #800000">'</span><span style="color: #800000">/media/</span><span style="color: #800000">'</span> +<span style="color: #000000"> fanhui}))
        </span><span style="color: #0000ff">else</span><span style="color: #000000">:
            </span><span style="color: #0000ff">return</span> HttpResponse(<span style="color: #800000">"</span><span style="color: #800000">验证失败</span><span style="color: #800000">"</span>)</pre>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #ff0000"><strong>编写Uploadfile截图函数</strong></span></p>
<div class="cnblogs_code">
<pre><span style="color: #008000">#</span><span style="color: #008000">!/usr/bin/env python</span><span style="color: #008000">
#</span><span style="color: #008000"> -*- coding:utf8 -*-</span>
<span style="color: #0000ff">import</span><span style="color: #000000"> os
</span><span style="color: #0000ff">import</span><span style="color: #000000"> time
</span><span style="color: #0000ff">import</span> random                                                   <span style="color: #008000">#</span><span style="color: #008000"> 引入随机模块文件</span>
<span style="color: #0000ff">import</span><span style="color: #000000"> re
</span><span style="color: #0000ff">import</span><span style="color: #000000"> json

</span><span style="color: #0000ff">from</span> PIL <span style="color: #0000ff">import</span><span style="color: #000000"> Image

</span><span style="color: #0000ff">from</span> MxOnline.settings <span style="color: #0000ff">import</span> MEDIA_ROOT                        <span style="color: #008000">#</span><span style="color: #008000"> 导入配置文件里的上传资源路径</span>


<span style="color: #0000ff">def</span><span style="color: #000000"> Uploadfile(mu_lu, wen_jian, jetu):
    </span><span style="color: #800000">"""</span><span style="color: #800000">
    第一参数，上传头像数据库models里指定的目录名称【字符串类型】
    第二参数，接收文件上传对象inMemoryUploadedFile对象【inMemoryUploadedFile对象】
    第三参数，接收头像要截图的坐标，x.y.width.height【json类型】
    裁剪成功返回图片路径
    </span><span style="color: #800000">"""</span>
    <span style="color: #0000ff">if</span> <span style="color: #0000ff">not</span><span style="color: #000000"> MEDIA_ROOT:
        </span><span style="color: #0000ff">return</span> <span style="color: #800000">'</span><span style="color: #800000">请在settings.py配置上传文件目录</span><span style="color: #800000">'</span>

    <span style="color: #0000ff">try</span><span style="color: #000000">:
        nian_yue </span>= time.strftime(<span style="color: #800000">'</span><span style="color: #800000">%Y/%m/</span><span style="color: #800000">'</span><span style="color: #000000">)
        pj_mu_lu </span>= os.path.abspath(os.path.join(MEDIA_ROOT, mu_lu, nian_yue))                           <span style="color: #008000">#</span><span style="color: #008000"> 拼接上传路径</span>
        pd_mu_lu =<span style="color: #000000"> os.path.exists(pj_mu_lu)
        </span><span style="color: #0000ff">if</span> pd_mu_lu:                                                                                    <span style="color: #008000">#</span><span style="color: #008000"> 判断上传目录是否存在</span>
            <span style="color: #0000ff">pass</span>
        <span style="color: #0000ff">else</span><span style="color: #000000">:
            os.makedirs(pj_mu_lu)                                                                       </span><span style="color: #008000">#</span><span style="color: #008000"> 创建上传目录</span>

        <span style="color: #008000">#</span><span style="color: #008000"> 接收文件上传对象inMemoryUploadedFile对象</span>
        wenjian =<span style="color: #000000"> wen_jian
        name </span>= wenjian.name                                                                             <span style="color: #008000">#</span><span style="color: #008000"> 获取文件名称</span>
        size = wenjian.size                                                                             <span style="color: #008000">#</span><span style="color: #008000"> 文件大小(字节)</span>

        <span style="color: #008000">#</span><span style="color: #008000"> 调用随机函数(随机数开始范围,随机数结束范围)</span>
        f1 = str(random.randrange(1, 99999999<span style="color: #000000">))
        f2 </span>= str(time.strftime(<span style="color: #800000">'</span><span style="color: #800000">%Y%m%d%H%M%S</span><span style="color: #800000">'</span><span style="color: #000000">))
        f3 </span>= str(f2 +<span style="color: #000000"> f1)
        houzh </span>= re.findall(<span style="color: #800000">'</span><span style="color: #800000">.*\.(.*)</span><span style="color: #800000">'</span><span style="color: #000000">, name)[0]
        wj_name </span>= f3 + <span style="color: #800000">'</span><span style="color: #800000">.</span><span style="color: #800000">'</span> +<span style="color: #000000"> houzh
        xie_ru_lu_jing </span>= pj_mu_lu + <span style="color: #800000">'</span><span style="color: #800000">/</span><span style="color: #800000">'</span> +<span style="color: #000000"> wj_name
        </span><span style="color: #008000">#</span><span style="color: #008000"> print(xie_ru_lu_jing)</span>

        <span style="color: #008000">#</span><span style="color: #008000"> 以读写字节模式打开，存在覆盖没有创建</span>
        gshi = <span style="color: #800000">'</span><span style="color: #800000">BMP,PNG,GIF,JPG,JPEG</span><span style="color: #800000">'</span><span style="color: #000000">
        pd_gshi </span>=<span style="color: #000000"> re.findall(houzh.upper(), gshi)
        </span><span style="color: #0000ff">if</span><span style="color: #000000"> pd_gshi:
            xieru </span>= open(xie_ru_lu_jing, <span style="color: #800000">'</span><span style="color: #800000">wb</span><span style="color: #800000">'</span><span style="color: #000000">)
            </span><span style="color: #0000ff">for</span> chunk <span style="color: #0000ff">in</span> wenjian.chunks():                                                  <span style="color: #008000">#</span><span style="color: #008000"> 循环文件数据块</span>
                xieru.write(chunk)                                                          <span style="color: #008000">#</span><span style="color: #008000"> 写入文件</span>
            xieru.close()                                                                   <span style="color: #008000">#</span><span style="color: #008000"> 关闭</span>
        <span style="color: #0000ff">else</span><span style="color: #000000">:
            </span><span style="color: #0000ff">return</span> <span style="color: #800000">'</span><span style="color: #800000">上传的不是图片文件</span><span style="color: #800000">'</span>

        <span style="color: #008000">#</span><span style="color: #008000"> 判断文件是否写入成功返回布尔值</span>
        pd_xieru =<span style="color: #000000"> os.path.exists(xie_ru_lu_jing)

        </span><span style="color: #0000ff">if</span><span style="color: #000000"> pd_xieru:

            </span><span style="color: #008000">#</span><span style="color: #008000"> 开始根据前台提供的坐标截图</span>
            zuo_biao =<span style="color: #000000"> json.loads(jetu)

            </span><span style="color: #008000">#</span><span style="color: #008000"> 获取坐标</span>
            t_x = int(zuo_biao[<span style="color: #800000">'</span><span style="color: #800000">x</span><span style="color: #800000">'</span><span style="color: #000000">])
            t_y </span>= int(zuo_biao[<span style="color: #800000">'</span><span style="color: #800000">y</span><span style="color: #800000">'</span><span style="color: #000000">])
            t_width </span>= t_x + int(zuo_biao[<span style="color: #800000">'</span><span style="color: #800000">width</span><span style="color: #800000">'</span><span style="color: #000000">])
            t_height </span>= t_y + int(zuo_biao[<span style="color: #800000">'</span><span style="color: #800000">height</span><span style="color: #800000">'</span><span style="color: #000000">])

            </span><span style="color: #008000">#</span><span style="color: #008000"> 打开要截图的图片</span>
            im =<span style="color: #000000"> Image.open(xie_ru_lu_jing)
            </span><span style="color: #008000">#</span><span style="color: #008000"> print(xie_ru_lu_jing)</span>
            <span style="color: #008000">#</span><span style="color: #008000"> 裁剪图片,裁剪尺寸为200*200，可以在resize()设置</span>
            crop_im = im.convert(<span style="color: #800000">"</span><span style="color: #800000">RGBA</span><span style="color: #800000">"</span>).crop((t_x, t_y, t_width, t_height)).resize((200, 200<span style="color: #000000">), Image.ANTIALIAS)

            </span><span style="color: #008000">#</span><span style="color: #008000"> 设置背景颜色为白色</span>
            out = Image.new(<span style="color: #800000">'</span><span style="color: #800000">RGBA</span><span style="color: #800000">'</span>, crop_im.size, (255, 255, 255<span style="color: #000000">))
            out.paste(crop_im, (0, 0, </span>200, 200<span style="color: #000000">), crop_im)

            </span><span style="color: #008000">#</span><span style="color: #008000"> 保存图片</span>
<span style="color: #000000">            crop_im.save(xie_ru_lu_jing)

            </span><span style="color: #008000">#</span><span style="color: #008000"> 返回图片路径，从第一个参数目录开始的</span>
            wj_lj = mu_lu + <span style="color: #800000">'</span><span style="color: #800000">/</span><span style="color: #800000">'</span> + nian_yue +<span style="color: #000000"> wj_name
            </span><span style="color: #0000ff">return</span><span style="color: #000000"> wj_lj

    </span><span style="color: #0000ff">except</span><span style="color: #000000"> Exception as e:
        </span><span style="color: #0000ff">return</span> e</pre>
</div>
<p>&nbsp;</p>
<p><span style="color: #ff0000"><strong>最终效果</strong></span></p>
<p><span style="color: #ff0000"><strong><img src="https://images2017.cnblogs.com/blog/955761/201709/955761-20170922094603525-1589165139.png" alt=""></strong></span></p>
<p>&nbsp;</p></div>